 .checkbox-inline {
      display: inline-block;
      margin-right: 15px;
    }
.btn2process {
    background-color:#ff0000;
}
.btnProcessed {
    background-color:#00ff0044;
}
.ok {
    color:black;
    background-color:#00ff0044;
    padding:3px;
    margin-bottom:5px;
}
.error {
    color:black;
    background-color:#ff000055;
    padding:3px;
    margin-bottom:5px;
}
.warning {
    color:black;
    background-color:#fffaae;
    padding:3px;
    margin-bottom:5px;
}
.info {
    color:black;
    background-color:#00000011;
    padding:3px;
    margin-bottom:5px;
}

sup{
  font-weight: bold;
  color: orange;
  cursor: pointer;
}
#shiny-notification-panel {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #0000;
    padding: 2px;
    width: 100%;
    max-width: 100%;
    z-index: 99999;
}

#logAI {
  height: calc(100vh - 220px);  /* Set to full viewport height */
  font-size: x-small;
  overflow-y: auto;  /* Enable scrolling if content exceeds height */
  white-space: pre;  /* Preserve formatting (spaces and newlines) */
}

#runProcess05  {
    margin: 15px;
    color: black;
}
